.blogContainer {
  background-color: #111;
  color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.blogImage {
  margin-bottom: 1.5rem;
}

.blogContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blogDate {
  max-width: 380px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 0.25rem;
}

.blogLink:hover {
  color: #d4000d;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.blogContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}
